@{
    Layout = Model.Layout;
}
@model WorkParam
<div class="main mt1" id="_followread_panel" style="display: none">
    <div class="practice">
        <h2 class="tc speakT">@Model.WorkResource.ResourceName</h2>
        <div class="practiceBox">
            <h4 class="trainTit trainTit2 yh tc"><img src="/Content/Default/images/face3.jpg" alt="" class="mr10">请佩戴好麦克风 开始跟读训练</h4>
            <p class="tc"><a href="javascript:;" data-bind="click: start" class="btnPractice yh" title="开始练习">做作业</a></p>
            <p class="tc f14 gray mt20">点击按钮立即开始做作业</p>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_download.cshtml")
@section scripts{
    <script type="text/javascript">
        var optionSettings = {
            UserInfo: { user_id: "@(Model.User.UserID)", user_name: "@(Model.User.UserName)" },
            WorkInfo: {
                VersionId: "@Model.WorkResource.VersionId", ContentId: "@Model.WorkResource.ContentId", PublishId: "@Model.WorkResource.RecordId", WorkId: "@Model.DoWorkBase.WorkID", DoWorkId: "@Model.DoWorkBase.DoWorkID", ModuleId: "@Model.WorkResource.SonModuleId", HistoryScore: "@(Model.UnitWork == null ? "" : Model.UnitWork.ActualScore.ToRound())",
            },
            vip: "@(Model.IsCan)",
            packageId: '@Model.Package.PackageId'
        };
        require(["ko", "followread"], function (ko, followread) {
            ko.applyBindings(new followread.viewModel.doView(optionSettings), document.getElementById("_followread_panel"));
            $("#_followread_panel").show();
        });
    </script>
}
