@{
	Layout = Model.Layout;
}
@model ResourceParam
@Html.Styles("question/css", "question.css")
<script>
	$("#nw_loading").hide();
</script>
<div class="work-wrapper-dx area" id="_followread_panel" style="display:none">
	<div class="trainCon cf">
		<div class="trainL fl">
			<ul class="trainMenu">
				@if (null != Model.CategoryContent)
				{
					foreach (var item in Model.CategoryContent.ResultContents.Where(t => t.ModuleId == 10))
					{
						<li data-version="@item.ResourceVersionId"><p><a href="javascript:;" class="dot"></a><a href="/followread?packageId=@item.PackageId&cid=@item.PackageCatalogueId&versionId=@item.ResourceVersionId">@(item.ResourceName)</a></p></li>
					}
				}
				else
				{
					<li data-version="@Model.VersionId"><p><a href="javascript:;" class="dot"></a><a href="javascript:;" id="resourceName"></a></p></li>
				}
			</ul>
		</div>
		<div class="trainConIn">
			<h4 class="trainTit trainTit2 yh tc" id="followread_tips"><img src="/content/default/images/face2.jpg" alt="" class="mr10">请佩戴好麦克风 开始跟读训练 <a href="javascript:;" class="closed"></a></h4>
			<div style="display:none" id="followread_content">
				<ul class="trainList" data-bind="template:{ name: 'followReadTemplate' }"></ul>
			</div>
			<div class="tc mt20" id="followread_loading">
				<img src="/content/default/images/enter-loading.gif" alt="loading..." />
				<span>请稍等，正在加载中......</span>
			</div>
		</div>
	</div>
	<footer class="work-footer">
		<div class="area">
			<div class="fl signBar">
				<a href="javascript:;" onclick="ciwong.colsePage()" class="w-btn ">关闭页面</a>
			</div>
		</div>
	</footer>
</div>
@Html.Partial("~/Views/Shared/_download.cshtml")
@section scripts{
<script type="text/javascript">
	require(["ko", "followread"], function (ko, followread) {
	    ko.applyBindings(new followread.viewModel.preView({
	        id: "@(Model.VersionId)",
	        UserInfo: { user_id: "@(Model.User.UserID)", user_name: "@(Model.User.UserName)" },
	        vip: "@(Model.IsCan)",
	        packageId: '@Model.PackageId'
	    }), document.getElementById("_followread_panel"));
		$("ul.trainMenu li[data-version=@Model.VersionId]").addClass("curr");
	});

	$("#followread_tips a").click(function () {
		$("#followread_tips").hide();
	})

	_czc.push(["_setCustomVar", "电子书-自主练习", "同步跟读", 1]);
</script>
}