@{
    Layout = Model.Layout;
}
@model WorkParam
<div id="dv_synctrain_paper" data-bind="if: papers, visible: papers" style="display:none">
    <div class="main trainT mt1 tc">
        <div class="main trainT mt1 tc">
            <h4>@Model.WorkResource.ResourceName</h4>
        </div>
    </div>
    <div class="main mt1">
        <div class="trainNavBar ovh">
            <ul class=" tc cf" data-bind="foreach:TrainModelList">
                <li data-bind="css:{ 'curr':$root.trainmodel() == id },attr:{ 'id': 'model_'+$data.id},click: $root.trainmodelChange">
                    <span>
                        <h4 data-bind="text:$data.bname"></h4>
                        <p data-bind="text:$data.tip"></p>
                    </span>
                </li>
            </ul>
        </div>
        <div class="trainCont p20">
            <div class="trainContIn">
                <ul class="lessonBar cf" data-bind="with:papers">
                    <li data-bind="attr:{'class':'curr','id':'ks_0'}"><a data-bind="text:$data.name,attr:{'title':$data.name}"></a></li>
                </ul>
                <div>
                    <div class="trainBoxMain">
                        <div class="cf work-wrapper-train">
                            <div data-bind="css:{'trainW520 fl':trainmodel()==3},visible:((trainmodel()<3 && viewtype()==0)||(trainmodel()==3))" style="display: none">
                                <article class="work-quesCon" data-bind="html:$data.CurrCont"></article>
                                <p class="tc mt30" data-bind="visible:(trainmodel()==1)"><a href="javascript:void(0)" class="btn-big" data-bind="text:btnTip,click:function(){ btnDoWork(1,1);}" id="btnfirst"></a></p>
                                <p class="tc mt30" data-bind="visible:(trainmodel()==2 && viewtype()==0)"><a href="javascript:void(0);" class="btn-big" data-bind="click:function(){btnDoWork(2,($data.userAnswers().length>0?2:1))}" id="btnsecondback">返回</a></p>
                            </div>
                            <div data-bind="css:{'trainW520 fr':trainmodel()==3},visible:((trainmodel()<3 &&viewtype()>0)||(trainmodel()==3))" style="display: none">
                                <section class="work-quesBox" data-bind="template: { name: 'questionListTemplate', data:questionModules() }"></section>
                                <p class="tc mt30" data-bind="visible:(trainmodel()==2)">
                                    <a href="javascript:void(0);" class="btn-big mr20" data-bind="click:submitWork,visible:(trainmodel()==2 && userAnswers().length==0)" id="btnsecondsubmit">提交</a>
                                    <a href="javascript:void(0);" class="btn-big" data-bind="click:function(){ btnDoWork(2,0) },visible:( trainmodel()==2 && userAnswers().length>0)" id="btnsecondexplain">看讲解</a>
                                </p>
                                <p class="tc mt30" data-bind="visible:(trainmodel()==1)"><a href="javascript:void(0);" class="btn-big mr20" data-bind="click:submitWork,visible:(trainmodel()==1 && userAnswers().length==0)" id="btnfirstsubmit">提交</a><a href="javascript:void(0);" class="btn-big" data-bind="click:function(){btnDoWork(1,0)},visible:(trainmodel()==1)" id="btnfirstback">返 回</a></p>
                            </div>
                        </div>
                        <p class="tc mt30" data-bind="visible:(trainmodel()==3)" style="display: none">
                            <a href="javascript:void(0);" class="btn-big" data-bind="click:submitWork,visible:(trainmodel()==3 && userAnswers().length==0)" id="btnthirdsubmit">提 交</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span id="timer" style="display: none">00:00:00</span>
</div>
@section scripts{
    <script type="text/javascript">
        require(["ko", "synctrain"], function (ko, synctrain) {
            ko.applyBindings(new synctrain.viewModel.preView(settingOptions), document.getElementById("dv_synctrain_paper"));
            timer = $("#timer").timer().start();
        });

        var timer = null;
        var settingOptions = {
            id: "@(Model.WorkResource.VersionId)",
            modeid: "@Model.WorkResource.ResourceType",
            doworkid: "@(Model.DoWorkBase.DoWorkID)",
            contentid: "@(Model.WorkResource.ContentId)",
            trainmodel: 1,
            isShowThinking: '@(Model.IsCan)',
            isShowQuestionVideo: '@(Model.IsCan)',
            workmodel: 2,
            viewtype: 0,
            submitWork: function () {
                var model = this;
                var allSingleQuestions = [];
                var allQuestions = model.questionModules().list();
                allQuestions && $.each(allQuestions, function (i, item) {
                    if (item.children.length > 0) {
                        allSingleQuestions = allSingleQuestions.concat(item.children)
                    } else {
                        allSingleQuestions.push(item);
                    }
                });
                var postData = {
                    workLong: timer.getTime(),
                    content: JSON.stringify(model.questionModules().getAnswers()),
                    questionCount: allSingleQuestions.length
                };
                ciwong.ajax.postJSON("/SyncTrain/submitwork?doWorkId=@(Model.DoWorkBase.DoWorkID)&contentId=@(Model.WorkResource.ContentId)", postData, function (data) {
                    timer.stop();
                    model.viewtype(2);
                    model.userAnswers(data);
                }, null, null, true, function () { ciwong.ajax.isPreventRequest = true; });
            }
        };
    </script>
}
