@{
    Layout = Model.Layout;
}
@model WorkParam

<div id="_paper_panel" class="work-wrapper-dx area" data-bind="if: paper, visible: paper" style="display:none">
    <div class="main">
        <div class="testCont" data-bind="template:{ name: 'paperTemplate', data: paper, afterRender: afterRender }"></div>
    </div>
    <footer class="work-footer">
        <div class="area">
            <div class="fl signBar">
                <a href="javascript:;" onclick="ciwong.colsePage()" class="w-btn ">关闭页面</a>
            </div>
        </div>
    </footer>
</div>
<script type="text/html" id="jiandaTemplate">
    <div class="work-t cf" data-bind="html: stem"></div>
    <div class="work-con" data-bind="html:convertVideo(userAnswer)"></div>
</script>
@section scripts{
    <script type="text/javascript">
        var settingOptions = {
            id: "@(Model.WorkResource.VersionId)",
            doId: "@(Model.UnitWork.DoId)",
            moduleId: "e9430760-9f2e-4256-af76-3bd8980a9de4",
            isShowAnswer: '@Model.IsCan',
            isShowThinking: false,//解题思路
            isShowQuestionVideo: false,//解题视频
        };

        require(["ko", "paper"], function (ko, paper) {
            ko.applyBindings(new paper.viewModel.resultView(settingOptions), document.getElementById("_paper_panel"));
        });

        $("#_ebook_top hgroup h1").text("@(Model.WorkResource.ResourceName)");
        $("#_ebook_top hgroup").after('<div class="score"><p>总得分<span>@(Model.UnitWork.ActualScore.ToRound())</span>分</p></div>');
    </script>
}

